  
  .sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar li {
    padding: 10px 10px 10px 20px;
  }
  
  .sidebar li a {
    display: block;
    color: #000;
    text-decoration: none;
  }
  
  .sidebar li a:hover {
    background-color: #ddd;
  }
  body {
    margin: 0;
    padding: 0;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #7b7979;
  }
  
  .main-content {
    margin-left: 200px;
    padding: 20px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #090101;
  }
  
  li a:hover {
    background-color: #8f8787;
  }
  body {
    display: flex;
  }
  .sidebar {
    flex: 0 0 200px; /* set width of sidebar */
  }
  .main-content {
    flex: 5; /* occupy remaining space */
  }